﻿@{
    ViewBag.Title = "Administration";
}
<h2>@ViewBag.Title</h2>


<div id="projects">
    <div id="tabstrip1" class="col-md-12 level1TabStrip">
        <ul id="systemTabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" onclick="app.admin.loadProjectsGrid();" class="active">
                <a href="#projectsPanel" role="tab" data-toggle="tab">Projects</a>
            </li>
            <li role="presentation" onclick="app.admin.LoadAllSystemUsersGrid();" class="">
                <a href="#allSystemUsersPanel" role="tab" data-toggle="tab">Users</a>
            </li>
            <li role="presentation" onclick="app.admin.LoadAllSystemLogsGrid();" class="">
                <a href="#allSystemLogsPanel" role="tab" data-toggle="tab">System Logs</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active container-fluid" id="projectsPanel">
                <div id="projectsGrid" style=""></div>
                <br />
                <div id="tabstrip2" class="col-md-12 level2TabStrip">
                    <ul id="projectTabs" class="nav nav-tabs" role="tablist" style="margin-left:50px;">
                        <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectOfficesGridId);" class="active">
                            <a href="#projectOfficesPanel" role="tab" data-toggle="tab">Offices</a>
                        </li>
                        <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectTeamsGridId);" class="">
                            <a href="#projectTeamsPanel" role="tab" data-toggle="tab">Teams</a>
                        </li>
                        <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectRegionsGridId);" class="">
                            <a href="#projectRegionsPanel" role="tab" data-toggle="tab">Regions</a>
                        </li>
                        <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectUsersGridId);" class="">
                            <a href="#projectUsersPanel" role="tab" data-toggle="tab">Users</a>
                        </li>
                        <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectRulesGridId);" class="">
                            <a href="#projectRulesPanel" role="tab" data-toggle="tab">Rules</a>
                        </li>
                        <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigRolesGridId);" class="">
                            <a href="#projectEscalationsConfigPanel" role="tab" data-toggle="tab">Escalations</a>
                        </li>
                        <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectActurisImportsGridId);" class="">
                            <a href="#projectActurisImportsConfigPanel" role="tab" data-toggle="tab">Acturis Imports</a>
                        </li>
                        <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectDbDetailsGridId);" class="">
                            <a href="#projectDbDetailsPanel" role="tab" data-toggle="tab">Target Databases</a>
                        </li>
                        <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectSchedulesGridId);" class="">
                            <a href="#projectSchedulesPanel" role="tab" data-toggle="tab">Schedules</a>
                        </li>
                        <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectExclusionsGridId);" class="">
                            <a href="#projectExclusionsPanel" role="tab" data-toggle="tab">Exclusions</a>
                        </li>
                        <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectBreachesGridId);" class="">
                            <a href="#projectBreachesPanel" role="tab" data-toggle="tab">Breaches</a>
                        </li>
                    </ul>
                    <div id="ProjectDetailsLevel1" class="tab-content" style="margin-left:50px;">
                        <div role="tabpanel" class="tab-pane active container-fluid" id="projectOfficesPanel">
                            <div id="projectOfficesGrid" style="font-size:small"></div>
                            <br />
                            <div id="tabstrip4" class="col-md-12 level3TabStrip officeSubGridsContainer" style="display:none;">
                                <ul class="nav nav-tabs" role="tablist" style="margin-left:50px;">
                                    <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.OfficeTeamsGridId);" class="active">
                                        <a href="#OfficeTeamsPanel" role="tab" data-toggle="tab">Teams</a>
                                    </li>
                                    <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.OfficeUsersGridId);" class="">
                                        <a href="#OfficeUsersPanel" role="tab" data-toggle="tab">Users</a>
                                    </li>
                                </ul>
                                <div class="tab-content level3TabStrip" style="margin-left:50px;">
                                    <div role="tabpanel" class="tab-pane active container-fluid" id="OfficeTeamsPanel">
                                        <div id="OfficeTeamsGrid" style="font-size:small"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane container-fluid" id="OfficeUsersPanel">
                                        <div id="OfficeUsersGrid" style="font-size:small"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane container-fluid" id="projectTeamsPanel">
                            <div id="projectTeamsGrid" style="font-size:small"></div>
                            <br />
                            <div id="tabstrip5" class="col-md-12 level3TabStrip teamSubGridsContainer" style="display:none;">
                                <ul class="nav nav-tabs" role="tablist" style="margin-left:50px;">
                                    <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.TeamUsersGridId);" class="active">
                                        <a href="#TeamUsersPanel" role="tab" data-toggle="tab">Users</a>
                                    </li>
                                </ul>
                                <div class="tab-content level3TabStrip" style="margin-left:50px;">
                                    <div role="tabpanel" class="tab-pane active container-fluid" id="TeamUsersPanel">
                                        <div id="TeamUsersGrid" style="font-size:small"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane container-fluid" id="projectUsersPanel">
                            <div id="projectUsersGrid" style="font-size:small"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane container-fluid" id="projectRegionsPanel">
                            <div id="projectRegionsGrid" style="font-size:small"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane container-fluid" id="projectRulesPanel">
                            <div id="projectRulesGrid" style="font-size:small"></div>
                            <br />
                            <div id="tabstrip6" class="col-md-12">
                                <ul class="nav nav-tabs level3TabStrip" role="tablist" style="margin-left:50px;">
                                    <li role="presentation" onclick="" class="active">
                                        <a href="#ruleConfigurations" role="tab" data-toggle="tab">Rule Configurations</a>
                                    </li>
                                </ul>
                                <div class="tab-content level3TabStrip" style="margin-left:50px;">
                                    <div role="tabpanel" class="tab-pane active container-fluid" id="ruleConfigurations">
                                        <div id="ruleConfigurationsGrid" style="font-size:small"></div>
                                        <br />
                                        <div id="tabstrip7" class="col-md-12">
                                            <ul class="nav nav-tabs level4TabStrip" role="tablist" style="margin-left:50px;">
                                                <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.ruleConfigProjectParticipantsGridId);" class="active">
                                                    <a href="#ruleConfigProjectParticipantsPanel" role="tab" data-toggle="tab">Project Participants</a>
                                                </li>
                                                <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.ruleConfigOfficeParticipantsGridId);" class="">
                                                    <a href="#ruleConfigOfficeParticipantsPanel" role="tab" data-toggle="tab">Office Participants</a>
                                                </li>
                                                <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.ruleConfigTeamParticipantsGridId);" class="">
                                                    <a href="#ruleConfigTeamParticipantsPanel" role="tab" data-toggle="tab">Team Participants</a>
                                                </li>
                                                <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.ruleConfigUserParticipantsGridId);" class="">
                                                    <a href="#ruleConfigUserParticipantsPanel" role="tab" data-toggle="tab">User Participants</a>
                                                </li>
                                                <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.ruleSqlExclusionsInputGridIdId);" class="">
                                                    <a href="#ruleConfigSqlInputPanel" role="tab" data-toggle="tab">Stored Proc Input Values</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content level4TabStrip" style="margin-left:50px;">
                                                <div role="tabpanel" class="tab-pane active container-fluid" id="ruleConfigProjectParticipantsPanel">
                                                    <div id="ruleConfigProjectParticipantsGrid" style="font-size:small"></div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane container-fluid" id="ruleConfigOfficeParticipantsPanel">
                                                    <div id="ruleConfigOfficeParticipantsGrid" style="font-size:small"></div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane container-fluid" id="ruleConfigTeamParticipantsPanel">
                                                    <div id="ruleConfigTeamParticipantsGrid" style="font-size:small"></div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane container-fluid" id="ruleConfigUserParticipantsPanel">
                                                    <div id="ruleConfigUserParticipantsGrid" style="font-size:small"></div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane container-fluid" id="ruleConfigSqlInputPanel">
                                                    <div id="tabstrip13" class="col-md-12">
                                                        <ul class="nav nav-tabs" role="tablist">
                                                            @*<li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.ruleSqlClassRefernceInputGridId);" class="active">
                                                                <a href="#ruleSqlClassRefernceInputPanel" role="tab" data-toggle="tab">Class Reference</a>
                                                            </li>*@
                                                            <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.ruleSqlExclusionsInputGridId);" class="active">
                                                                <a href="#ruleSqlExclusionsInputPanel" role="tab" data-toggle="tab">Exclusions Group</a>
                                                            </li>
                                                            <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.ruleSqlHardCodedInputGridId);" class="">
                                                                <a href="#ruleSqlHardCodedInputPanel" role="tab" data-toggle="tab">Hard Coded</a>
                                                            </li>
                                                        </ul>
                                                        <div id="SystemUsersRoles" class="tab-content">
                                                            @*<div role="tabpanel" class="tab-pane active container-fluid" id="ruleSqlClassRefernceInputPanel">
                                                                <div id="ruleSqlClassRefernceInputGrid" style="font-size:small"></div>
                                                            </div>*@
                                                            <div role="tabpanel" class="tab-pane active container-fluid" id="ruleSqlExclusionsInputPanel">
                                                                <div id="ruleSqlExclusionsInputGrid" style="font-size:small"></div>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane container-fluid" id="ruleSqlHardCodedInputPanel">
                                                                <div id="ruleSqlHardCodedInputGrid" style="font-size:small"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane container-fluid" id="projectEscalationsConfigPanel">
                            <br />
                            <div id="tabstrip8" class="col-md-12" style="">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigRolesGridId);" class="active">
                                        <a href="#projectEscalationConfigRolePanel" role="tab" data-toggle="tab">Role</a>
                                    </li>
                                    <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigUsersGridId);" class="">
                                        <a href="#projectEscalationConfigUserPanel" role="tab" data-toggle="tab">User</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active container-fluid" id="projectEscalationConfigRolePanel">
                                        <div id="projectEscalationConfigRolesGrid" style="font-size:small"></div>
                                        <br />
                                        <div id="tabstrip10" class="col-md-12" style="">
                                            <ul class="nav nav-tabs level3TabStrip" role="tablist" style="margin-left:50px;">
                                                <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigRoleBreachSourceRuleGridId);" class="active">
                                                    <a href="#projectEscalationConfigRoleBreachSourcePanel" role="tab" data-toggle="tab">Breach Sources</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content level3TabStrip">
                                                <div role="tabpanel" class="tab-pane active container-fluid" id="projectEscalationConfigRoleBreachSourcePanel">
                                                    <div id="tabstrip11" class="col-md-12">
                                                        <ul class="nav nav-tabs" role="tablist" style="margin-left:50px;">
                                                            <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigRoleBreachSourceProjectGridId);" class="active">
                                                                <a href="#projectEscalationConfigRoleBreachSourceProjectPanel" role="tab" data-toggle="tab">Projects</a>
                                                            </li>
                                                            <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigRoleBreachSourceRuleGridId);" class="">
                                                                <a href="#projectEscalationConfigRoleBreachSourceRulePanel" role="tab" data-toggle="tab">Rules</a>
                                                            </li>
                                                            <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigRoleBreachSourceRuleConfigGridId);" class="">
                                                                <a href="#projectEscalationConfigRoleBreachSourceRuleConfigPanel" role="tab" data-toggle="tab">Rule Configurations</a>
                                                            </li>
                                                            <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigRoleBreachSourceOfficeGridId);" class="">
                                                                <a href="#projectEscalationConfigRoleBreachSourceOfficePanel" role="tab" data-toggle="tab">Offices</a>
                                                            </li>
                                                            <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigRoleBreachSourceTeamGridId);" class="">
                                                                <a href="#projectEscalationConfigRoleBreachSourceTeamPanel" role="tab" data-toggle="tab">Teams</a>
                                                            </li>
                                                            <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigRoleBreachSourceUserGridId);" class="">
                                                                <a href="#projectEscalationConfigRoleBreachSourceUserPanel" role="tab" data-toggle="tab">Users</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content" style="margin-left:50px;">
                                                            <div role="tabpanel" class="tab-pane active container-fluid" id="projectEscalationConfigRoleBreachSourceProjectPanel">
                                                                <div id="projectEscalationConfigRoleBreachSourceProjectGrid" style="font-size:small"></div>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane container-fluid" id="projectEscalationConfigRoleBreachSourceRulePanel">
                                                                <div id="projectEscalationConfigRoleBreachSourceRuleGrid" style="font-size:small"></div>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane container-fluid" id="projectEscalationConfigRoleBreachSourceRuleConfigPanel">
                                                                <div id="projectEscalationConfigRoleBreachSourceRuleConfigGrid" style="font-size:small"></div>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane container-fluid" id="projectEscalationConfigRoleBreachSourceOfficePanel">
                                                                <div id="projectEscalationConfigRoleBreachSourceOfficeGrid" style="font-size:small"></div>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane container-fluid" id="projectEscalationConfigRoleBreachSourceTeamPanel">
                                                                <div id="projectEscalationConfigRoleBreachSourceTeamGrid" style="font-size:small"></div>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane container-fluid" id="projectEscalationConfigRoleBreachSourceUserPanel">
                                                                <div id="projectEscalationConfigRoleBreachSourceUserGrid" style="font-size:small"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div role="tabpanel" class="tab-pane container-fluid" id="projectEscalationConfigUserPanel">
                                        <div id="projectEscalationConfigUsersGrid" style="font-size:small"></div>
                                        <div id="tabstrip9" class="col-md-12" style="">
                                            <ul class="nav nav-tabs level3TabStrip" role="tablist" style="margin-left:50px;">
                                                <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigUsersRecipientsGridId);" class="active">
                                                    <a href="#projectEscalationConfigUserRecipientPanel" role="tab" data-toggle="tab">Recipients</a>
                                                </li>
                                                <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigUsersBreachSourceRuleGridId);" class="">
                                                    <a href="#projectEscalationConfigUserBreachSourcePanel" role="tab" data-toggle="tab">Breach Sources</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content level3TabStrip" style="margin-left:50px;">
                                                <div role="tabpanel" class="tab-pane active container-fluid" id="projectEscalationConfigUserRecipientPanel">
                                                    <div id="projectEscalationConfigUsersRecipientsGrid" style="font-size:small"></div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane container-fluid" id="projectEscalationConfigUserBreachSourcePanel">
                                                    <br />
                                                    <div id="tabstrip10" class="col-md-12">
                                                        <ul class="nav nav-tabs" role="tablist">
                                                            <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigUsersBreachSourceProjectGridId);" class="active">
                                                                <a href="#projectEscalationConfigUserBreachSourceProjectPanel" role="tab" data-toggle="tab">Projects</a>
                                                            </li>
                                                            <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigUsersBreachSourceRuleGridId);" class="">
                                                                <a href="#projectEscalationConfigUserBreachSourceRulePanel" role="tab" data-toggle="tab">Rules</a>
                                                            </li>
                                                            <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigUsersBreachSourceRuleConfigGridId);" class="">
                                                                <a href="#projectEscalationConfigUserBreachSourceRuleConfigPanel" role="tab" data-toggle="tab">Rule Configurations</a>
                                                            </li>
   
                                                            <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigUsersBreachSourceOfficeGridId);" class="">
                                                                <a href="#projectEscalationConfigUserBreachSourceOfficePanel" role="tab" data-toggle="tab">Offices</a>
                                                            </li>
                                                            <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigUsersBreachSourceTeamGridId);" class="">
                                                                <a href="#projectEscalationConfigUserBreachSourceTeamPanel" role="tab" data-toggle="tab">Teams</a>
                                                            </li>
                                                            <li role="presentation" onclick="app.admin.LoadGridForTabClick(app.admin.pageVarsPri().tags.projectEscalationConfigUsersBreachSourceUserGridId);" class="">
                                                                <a href="#projectEscalationConfigUserBreachSourceUserPanel" role="tab" data-toggle="tab">Users</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div role="tabpanel" class="tab-pane active container-fluid" id="projectEscalationConfigUserBreachSourceProjectPanel">
                                                                <div id="projectEscalationConfigUsersBreachSourceProjectGrid" style="font-size:small"></div>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane container-fluid" id="projectEscalationConfigUserBreachSourceRulePanel">
                                                                <div id="projectEscalationConfigUsersBreachSourceRuleGrid" style="font-size:small"></div>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane container-fluid" id="projectEscalationConfigUserBreachSourceRuleConfigPanel">
                                                                <div id="projectEscalationConfigUsersBreachSourceRuleConfigGrid" style="font-size:small"></div>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane container-fluid" id="projectEscalationConfigUserBreachSourceOfficePanel">
                                                                <div id="projectEscalationConfigUsersBreachSourceOfficeGrid" style="font-size:small"></div>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane container-fluid" id="projectEscalationConfigUserBreachSourceTeamPanel">
                                                                <div id="projectEscalationConfigUsersBreachSourceTeamGrid" style="font-size:small"></div>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane container-fluid" id="projectEscalationConfigUserBreachSourceUserPanel">
                                                                <div id="projectEscalationConfigUsersBreachSourceUserGrid" style="font-size:small"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane container-fluid" id="projectActurisImportsConfigPanel">
                            <div id="projectActurisImportsGrid" style="font-size:small"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane container-fluid" id="projectDbDetailsPanel">
                            <div id="projectDbDetailsGrid" style="font-size:small"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane container-fluid" id="projectSchedulesPanel">
                            <div id="projectSchedulesGrid" style="font-size:small"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane container-fluid" id="projectExclusionsPanel">
                            <div id="projectExclusionsGrid" style="font-size:small"></div>
                            <br />
                            <div id="tabstrip12" class="col-md-12">
                                <ul class="nav nav-tabs level3TabStrip" role="tablist" style="margin-left:50px;">
                                    <li role="presentation" onclick="" class="active">
                                        <a href="#projectExclusionItemsPanel" role="tab" data-toggle="tab">Exclusions Items</a>
                                    </li>
                                </ul>
                                <div class="tab-content level3TabStrip" style="margin-left:50px;">
                                    <div role="tabpanel" class="tab-pane active container-fluid" id="projectExclusionItemsPanel">
                                        <div id="projectExclusionItemsGrid" style="font-size:small"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane container-fluid" id="projectBreachesPanel">
                            <div id="projectBreachesGrid" style="font-size:small"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane container-fluid" id="allSystemUsersPanel">
                <div id="systemUsersGrid" style=""></div>
                <br />
                <div id="systemuserspermissionstabstrip" class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist" style="margin-left:50px;">
                        <li role="presentation" onclick="" class="active">
                            <a href="#systemUserSystemPermissionsPanel" role="tab" data-toggle="tab">Project Membership</a>
                        </li>
                    </ul>
                    <div id="SystemUsersRoles" class="tab-content" style="margin-left:50px;">
                        <div role="tabpanel" class="tab-pane active container-fluid" id="systemUserSystemPermissionsPanel">
                            <div id="systemUserSystemPermissionsGrid" style="font-size:small"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane container-fluid" id="allSystemLogsPanel">
                <div id="systemLogsGrid" style=""></div>
                <br />
                <div class="row">
                    <div class="col-md-6 text-center">
                        <label>Error Message</label>
                        <br />
                        <div style="height:400px; overflow: auto; overflow-x: hidden;" id="systemLogErrorMessage"></div>
                    </div>
                    <div class="col-md-6 text-center">
                        <label>Stack Trace</label>
                        <br />
                        <div style="height:400px; overflow: auto; overflow-x: hidden;" id="systemLogStackTrace"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div id="window" style="display:none;">
    <div class="armchair"><img src="../content/web/window/armchair-402.png" alt="Artek Alvar Aalto - Armchair 402" /> Artek Alvar Aalto - Armchair 402</div>
    <p>Alvar Aalto is one of the greatest names in modern architecture and design. Glassblowers at the iittala factory still meticulously handcraft the legendary vases that are variations on one theme, fluid organic shapes that let the end user decide the use. Interpretations of the shape in new colors and materials add to the growing Alvar Aalto Collection that remains true to his original design.</p>

    <p>Born Hugo Alvar Henrik Aalto (February 3, 1898 - May 11, 1976) in Kuortane, Finland, was noted for his humanistic approach to modernism. He studied architecture at the Helsinki University of Technology from 1916 to 1921. In 1924 he married architect Aino Marsio.</p>

    <p>Alvar Aalto was one of the first and most influential architects of the Scandinavian modern movement, and a member of the Congres Internationaux d'Architecture Moderne. Major architectural works include the Finlandia Hall in Helsinki, Finland, and the campus of Helsinki University of Technology.</p>

    <p>Source: <a href="http://www.aalto.com/about-alvar-aalto.html" title="About Alvar Aalto">www.aalto.com</a></p>
</div>*@
<script type="text/x-kendo-template" id="ruleSnapshottemplate">
    <div id="details-container">
        <div class="row">
            <div class="col-md-11 text-center">
                <p>Clicking <b>'Run Query'</b> below will execute the <b>#= Name #</b> rule and the stored procedures for the rule configuration(s).</p>
                <p>This is a snapshot of the LOB DB(s) and the breaches will not be recorded in the VT's breach database.</p>
                <p>The process can take a while, but you can minimise this window while doing other things on this page.</p>
                <p>The header will turn <label style="color:green"><b>Green</b></label> once the results have arrived.</p>
            </div>
        </div>
        <div class="row">
            <div id="ruleSnapShotBreachesGrid" class="col-md-11"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-11 text-center">
                <button id="rulesnapshotrunQueryButton" type="button" class="btn btn-primary center-block" onclick="app.admin.LoadRuleLOBSnapShotGrid('#= Id #')">Run Query</button>
            </div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="escalationRoleConfigExecutionTemplate">
    <div id="details-container">
        <div class="row">
            <div class="col-md-11 text-center">
                <p>Clicking <b>'Test Escalation'</b> below, will execute the <b>#= Name #</b> Escalation configuration resulting in emails being sent to the 'Override Recipient Email' address.</p>
                <p>The 'Override Recipient Email' value for the configuration must be populated for this feature to work.</p>
                <p>The process can take a while, but you can minimise this window while doing other things on this page.</p>
                <p>The header will turn <label style="color:green"><b>Green</b></label> once completed.</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-11 text-center">
                <h3><b><label id="escalationRoleConfigExecutionTemplateResultsMessage"></label></b></h3>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-11 text-center">
                <button id="rulesnapshotrunQueryButton" type="button" class="btn btn-primary center-block" onclick="app.admin.ExecuteEscalationsRuleConfigTest('#= Id #')">Test Escalation</button>
            </div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="escalationUserConfigExecutionTemplate">
    <div id="details-container">
        <div class="row">
            <div class="col-md-11 text-center">
                <p>Clicking <b>'Run Escalation'</b> below, will execute the <b>#= Name #</b> Escalation configuration resulting in emails being sent to the configured recipients.</p>
                <p>The process can take a while, but you can minimise this window while doing other things on this page.</p>
                <p>The header will turn <label style="color:green"><b>Green</b></label> once completed.</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-11 text-center">
                <h3><b><label id="escalationUserConfigExecutionTemplateResultsMessage"></label></b></h3>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-11 text-center">
                <button id="escalationUserConfigExecutionyButton" type="button" class="btn btn-primary center-block" onclick="app.admin.ExecuteEscalationsRuleUserConfig('#= Id #')">Run Escalation</button>
            </div>
        </div>
    </div>
</script>
<div id="executeRuleSnapShotBreachDetails"></div>
<div id="escalationRoleConfigExecutionWindow"></div>
<div id="escalationUserConfigExecutionWindow"></div>
@section Scripts{
    <script src="@Url.Content("~/Scripts/admin.js")"></script>
    <script type="text/javascript">
        var adminPageVars = {
            vars: { currentPage: "Admin" },
            urls: {
                adminRoot: '@Url.Action("", "Admin")'
            },
            tags: {
                projectsGridId: '#projectsGrid',
                projectUsersGridId: '#projectUsersGrid',
                projectOfficesGridId: '#projectOfficesGrid',
                projectTeamsGridId: '#projectTeamsGrid',
                systemUsersGridId: '#systemUsersGrid',
                systemUserSystemPermissionsGridId: '#systemUserSystemPermissionsGrid',
                OfficeTeamsGridId: '#OfficeTeamsGrid',
                OfficeUsersGridId: '#OfficeUsersGrid',
                teamSubGridsContainerclass: '.teamSubGridsContainer',
                officeSubGridsContainerclass: '.officeSubGridsContainer',
                TeamUsersGridId: '#TeamUsersGrid',
                projectRulesGridId: '#projectRulesGrid',
                ruleConfigurationsGridId: '#ruleConfigurationsGrid',
                projectDbDetailsGridId: '#projectDbDetailsGrid',
                projectSchedulesGridId: '#projectSchedulesGrid',
                ruleConfigProjectParticipantsGridId: '#ruleConfigProjectParticipantsGrid',
                ruleConfigOfficeParticipantsGridId: '#ruleConfigOfficeParticipantsGrid',
                ruleConfigTeamParticipantsGridId: '#ruleConfigTeamParticipantsGrid',
                ruleConfigUserParticipantsGridId: '#ruleConfigUserParticipantsGrid',
                projectEscalationConfigRolesGridId: '#projectEscalationConfigRolesGrid',
                projectEscalationConfigUsersGridId: '#projectEscalationConfigUsersGrid',
                projectEscalationConfigUsersRecipientsGridId: '#projectEscalationConfigUsersRecipientsGrid',
                projectEscalationConfigUsersBreachSourceRuleGridId: '#projectEscalationConfigUsersBreachSourceRuleGrid',
                projectEscalationConfigUsersBreachSourceRuleConfigGridId: '#projectEscalationConfigUsersBreachSourceRuleConfigGrid',
                projectEscalationConfigUsersBreachSourceProjectGridId: '#projectEscalationConfigUsersBreachSourceProjectGrid',
                projectEscalationConfigUsersBreachSourceOfficeGridId: '#projectEscalationConfigUsersBreachSourceOfficeGrid',
                projectEscalationConfigUsersBreachSourceTeamGridId: '#projectEscalationConfigUsersBreachSourceTeamGrid',
                projectEscalationConfigUsersBreachSourceUserGridId: '#projectEscalationConfigUsersBreachSourceUserGrid',
                projectEscalationConfigRoleBreachSourceProjectGridId: '#projectEscalationConfigRoleBreachSourceProjectGrid',
                projectEscalationConfigRoleBreachSourceOfficeGridId: '#projectEscalationConfigRoleBreachSourceOfficeGrid',
                projectEscalationConfigRoleBreachSourceTeamGridId: '#projectEscalationConfigRoleBreachSourceTeamGrid',
                projectEscalationConfigRoleBreachSourceUserGridId: '#projectEscalationConfigRoleBreachSourceUserGrid',
                projectEscalationConfigRoleBreachSourceRuleGridId: '#projectEscalationConfigRoleBreachSourceRuleGrid',
                projectEscalationConfigRoleBreachSourceRuleConfigGridId: '#projectEscalationConfigRoleBreachSourceRuleConfigGrid',
                projectExclusionsGridId: '#projectExclusionsGrid',
                projectExclusionItemsGridId: '#projectExclusionItemsGrid',
                ruleSqlClassRefernceInputGridId: '#ruleSqlClassRefernceInputGrid',
                ruleSqlExclusionsInputGridId: '#ruleSqlExclusionsInputGrid',
                ruleSqlHardCodedInputGridId: '#ruleSqlHardCodedInputGrid',
                level1TabStripClass: '.level1TabStrip',
                level2TabStripClass: '.level2TabStrip',
                level3TabStripClass: '.level3TabStrip',
                level4TabStripClass: '.level4TabStrip',
                projectBreachesGridId: '#projectBreachesGrid',
                ruleSnapshottemplateId: '#ruleSnapshottemplate',
                ruleSnapShotBreachesGridId: '#ruleSnapShotBreachesGrid',
                rulesnapshotrunQueryButtonId: '#rulesnapshotrunQueryButton',
                executeRuleSnapShotBreachDetailsWindowId: '#executeRuleSnapShotBreachDetails',
                escalationRoleConfigExecutionWindowId: '#escalationRoleConfigExecutionWindow',
                escalationRoleConfigExecutionTemplateId: '#escalationRoleConfigExecutionTemplate',
                escalationRoleConfigExecutionTemplateResultsMessageId: '#escalationRoleConfigExecutionTemplateResultsMessage',
                projectActurisImportsGridId: '#projectActurisImportsGrid',
                escalationUserConfigExecutionTemplateId: '#escalationUserConfigExecutionTemplate',
                escalationUserConfigExecutionWindowId: '#escalationUserConfigExecutionWindow',
                escalationUserConfigExecutionTemplateResultsMessageId: '#escalationUserConfigExecutionTemplateResultsMessage',
                escalationUserConfigExecutionyButtonId: '#escalationUserConfigExecutionyButton',
                projectRegionsGridId: '#projectRegionsGrid',
                systemLogsGridId: '#systemLogsGrid',
                systemLogErrorMessageId: '#systemLogErrorMessage',
                systemLogStackTraceId: '#systemLogStackTrace'
            }
        }
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
            app.admin.init(adminPageVars);
        })
    </script>
}