﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: #f35800;
}
/*#ruleConfigProjectParticipantsGrid .k-grid-edit, #ruleConfigOfficeParticipantsGrid .k-grid-edit
{
    display: none;
}*/

.k-grid td{
    white-space: nowrap;
}
.Dev{
    background-color:lightblue;
}
.Test{
    background-color:green;
}
.UAT{
    background-color:orange;
}
